<div class=e1_15>
    <div class="e1_16"></div><span  class="e1_17">No Phishing<br>
  보이스 피싱 판별 시스템</span>
    <div class="e1_21"></div><span  class="e1_22">녹음중입니다..</span>
    <div class="e1_28"></div><span id="exit" class="e1_29">종료하기</span>
    <div class="e1_48"></div><span  class="e1_49">결과보기</span>
</div>
<style>

.e1_15 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e1_16 { 
	background-color:rgba(165.74999392032623, 165.74999392032623, 165.74999392032623, 1);
	width:1056px;
	height:202px;
	position:absolute;
	left:193px;
	top:56px;
}
.e1_17 { 
	color:rgba(0, 0, 0, 1);
	width:702px;
	height:97px;
	position:absolute;
	left:370px;
	top:109px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e1_21 { 
	background-color:rgba(235.078125, 235.078125, 235.078125, 1);
	width:1056px;
	height:464px;
	position:absolute;
	left:193px;
	top:298px;
}
.e1_22 { 
	color:rgba(0, 0, 0, 1);
	width:585px;
	height:59px;
	position:absolute;
	left:428px;
	top:395px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e1_28 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:323px;
	height:91px;
	position:absolute;
	left:926px;
	top:854px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
.e1_29 { 
	color:rgba(0, 0, 0, 1);
	width:263px;
	height:52px;
	position:absolute;
	left:960px;
	top:876px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e1_48 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:323px;
	height:91px;
	position:absolute;
	left:193px;
	top:856px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
.e1_49 { 
	color:rgba(0, 0, 0, 1);
	width:263px;
	height:52px;
	position:absolute;
	left:227px;
	top:878px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}

</style>

<script>
    document.getElementById('exit').addEventListener('click', function() {
        window.location.href = './index.html'; // 여기에 원하는 URL을 입력하세요.
    });
</script>