<div class=e1_43>
    <div class="e1_44"></div><span  class="e1_45">No Phishing<br>
  보이스 피싱 판별 시스템</span>
    <div class="e1_46"></div><span  class="e1_56">전화사기 110 또는 1379</span>
	<span  class="e1_47">{{ result }}% 확률로 보이스피싱입니다.<br>
	보이스피싱 같다면 경찰서에 연락하세요.</span>
    <div class="e1_62"></div><span id="exit" class="e1_63">종료하기</span>
  </div>
  <style>
    
.e1_43 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e1_44 { 
	background-color:rgba(165.74999392032623, 165.74999392032623, 165.74999392032623, 1);
	width:1056px;
	height:202px;
	position:absolute;
	left:193px;
	top:56px;
}
.e1_45 { 
	color:rgba(0, 0, 0, 1);
	width:702px;
	height:97px;
	position:absolute;
	left:370px;
	top:109px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e1_46 { 
	background-color:rgba(235.078125, 235.078125, 235.078125, 1);
	width:1056px;
	height:464px;
	position:absolute;
	left:193px;
	top:293px;
}
.e1_56 { 
	color:rgba(0, 0, 0, 1);
	width:384px;
	height:39px;
	position:absolute;
	left:529px;
	top:690px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e1_47 { 
	color:rgba(0, 0, 0, 1);
	width:756px;
	height:104px;
	position:absolute;
	left:343px;
	top:425px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e1_62 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:323px;
	height:91px;
	position:absolute;
	left:559px;
	top:864px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
.e1_63 { 
	color:rgba(0, 0, 0, 1);
	width:263px;
	height:52px;
	position:absolute;
	left:593px;
	top:886px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}

  </style>

<script>
    document.getElementById('exit').addEventListener('click', function() {
        window.location.href = './index.html'; // 여기에 원하는 URL을 입력하세요.
    });
</script>