<!-- start of missed-call.com spam number search form-->
<style type="text/css">
    .missed_call_form_querybox_bg {
       width:300px;
       background-image: url(http://www.missed-call.com/images/mc_sf_mini_bg.gif);
       background-repeat: no-repeat;
    }
    .missed_call_form_querybox {
       padding: 0px;
       border-style: none;
       border: 0px none;
       margin: 3px 0px 0px 8px;
       overflow: hidden;
       font-family: Gulim;
       font-size: 9pt;
       width: 95%;
    }
    .missed_call_tight { margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; }
    </style>
    
    <div id="missed_call_spam_search_form" class="missed_call_tight">
    <form action="http://www.missed-call.com/" method="get" target="missed_call_window" class="missed_call_tight">
    <table class="missed_call_tight" cellspacing="0" cellpadding="0"><tr><td class="missed_call_form_querybox_bg" align="left"><input class="missed_call_form_querybox" name="q" maxlength="20" type="text" value="스팸 전화번호 검색" onclick="if (this.value=='스팸 전화번호 검색') this.value='';" onblur="if (this.value=='') this.value='스팸 전화번호 검색';" title="스팸으로 의심되는 전화번호를 넣고 엔터를 누르세요" /></td><td><input type="image" class="new_search_box_button" src="http://www.missed-call.com/images/new_search_btn_18_off.png"  onmouseover="javascript:this.src='http://www.missed-call.com/images/new_search_btn_18_on.png';" onmouseout="javascript:this.src='http://www.missed-call.com/images/new_search_btn_18_off.png';" style="cursor:pointer" align="middle" alt="Go!" /><input type="hidden" name="v" value="1j"/></td></tr></table>
    </form>
    </div>
    <!-- end of missed-call.com spam number search form-->